html{
    font-family: 'Montserrat','serif', sans-serif;
    
    
}

body{
    margin: 0 auto ;
}

.title{
    margin: 0 auto;
    padding: 15px;
    background: #0b1e20;
    color: #fff;
    width: 100%;
    text-align: center;
    
}




