html{
    font-family: 'Montserrat','serif', sans-serif;
    
    
}

body{
    margin: 0 auto ;
}

/* Website IDs */
/* Home page about */
#about{
    margin: 0 auto;
    max-width: 60%;
    justify-content: center;
}

/* Website classes */
.title{
    margin: 0 auto;
    padding: 5px;
    background: #0b1e20;
    color: #fff;
    width: 100%;
    text-align: center;
    
}




